.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;

  &-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &-right {
    display: flex;
    gap: 2rem;
    align-items: center
  }

  &-links {
    list-style-type: none;
    display: flex;
    gap: 2rem;
  }
}

.navbar-item-link {
  text-decoration: none;
  color: #ccd6f6;
  transition: 350ms;
}

.navbar-item-link:hover {
  color: #63fcd8;
}

.menu-button {
  width: 7rem;
  padding: 0.7rem;
  background-color: transparent;
  border: 1px #63fcd8 solid;
  border-radius: 5px;
  transition: 350ms;
  color: #63fcd8;
}

.menu-button:hover {
  cursor: pointer;
  background-color: rgb(0, 255, 242, .1);
}