@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');

// font-family: 'Golos Text', sans-serif;
// font-family: 'Tilt Neon', cursive;
body {
  font-family: 'Golos Text', sans-serif;
  color: #e6f1ff;
}

#root {
  width: 100%;
  margin: 0 auto;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

::-webkit-scrollbar-track
{
	border-radius: 10px;
}

::-webkit-scrollbar
{
  padding: 5px;
	width: 10px;
	background-color: transparent;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-image: -webkit-gradient(linear,
									   left bottom,
									   left top,
									   color-stop(0.44,#ccd6f6),
									   color-stop(0.86, #8892b0));
}

.span {
  font-weight: bold;
  color: #00d8ff;
  font-size: 1.2rem;
  font-family: 'Tilt Neon', cursive;
}

.numbers-span {
  color: #00d8ff;
  font-size: 1.5rem;
  font-family: 'Tilt Neon', cursive;
  margin-right: 1rem;
}